@import url("style.css");

body > article {
  background-image: url("../imagens/akira.jpg");
}

body > main > article:nth-child(1) > p {
  line-height: 1.25rem;
}

body > main > article:nth-child(2) > p {
  margin-bottom: 0.5rem;
  text-indent: 1rem;
}

h2 {
  text-align: center;
}

/* Para telas grandes */
@media screen and (min-width:996px){
  main{
    display: flex;
  }

  body > main > article.card:nth-child(2){
    width: 43.75rem;
  }

  footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
}